@{
    ViewBag.Title = "Sobre";
}
<h2>@ViewBag.Title</h2>

<p class="jumbotron imageBackground">
    Sistema de Expedição de Materiais da Eletroeletrônica
</p>
<p class="jumbotron imageBackground">
    Desenvolvido pelo Planejamento e Controle da Manutenção
</p>
