@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title</h2>
<h3 class="centralText">@ViewBag.Message</h3>

<address class="jumbotron imageBackground">
    VALE S.A<br />
    Eletroeletrônica <br />
    São Luís, Oficina Central<br />
</address>

<address class="jumbotron imageBackground">
    <strong>Suporte:</strong>   <a href="mailto:joao.pedro.costat@vale.com">joao.pedro.costa@vale.com</a><br />
    <strong>Administração:</strong> <a href="mailto:valbenilson.mendes@vale.com">valbenilson.mendes@vale.com</a>
</address>